<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ajax_test</title>
</head>
<script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
<body>

    <form id="form" method="POST">
        {% csrf_token %}
        <input id="name" type="text" name="title">
        <input  type="submit" name="submit" value="submit">
    </form>

    <br>
    你輸入的字:
    <div id="output"></div>


    <script>
        $('#form').on('submit', function(e){

            e.preventDefault();

            $.ajax({
                type : "POST",
                url: "{% url 'ajax_posting' %}", /* django ajax posting url  */
                data: {
                    first_name : $('#name').val(),
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    dataType: "json",

                },

                success: function(data){
                    $('#output').html(data.msg) /* response message */
                },

                failure: function() {

                }

            });
        });
    </script>

</body>
</html>