{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport"
			  content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible"
			  content="IE=edge">

		<title>蝦款-熱門關鍵字</title>
        <link rel="icon" href="{% static 'images/titleicon.png' %}" type="image/x-icon"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
        <!--JQuery-->
        <script src="{% static 'jquery-3.5.1.min.js'%}"></script>

		<!-- Bootstrap CSS-->
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}">
        <!--DataTable CSS-->
        <link rel="stylesheet" type="text/css" href="{% static 'datatables/css/datatables.min.css'%}"/>
        <!--Sweetalert2 CSS-->
        <link rel="stylesheet" href="{% static 'sweetalert2/dist/sweetalert2.min.css'%}">
        <!-- Our Custom CSS -->
        <link rel="stylesheet" href="{% static 'css/all.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
        <link rel="stylesheet" href="{% static 'css/keywords.css' %}" type="text/css">

		<!-- Font Awesome JS -->
		<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
		<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
        <style>
            #chartdiv {
              width: 100%;
              height: 100%;
            }
            </style>
            
            <!-- Resources -->
            <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
            <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
            <script src="https://cdn.amcharts.com/lib/4/plugins/wordCloud.js"></script>
            <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
            
            <!-- Chart code -->
            <script>
            am4core.ready(function() {
            
            // Themes begin
            am4core.useTheme(am4themes_animated);
            // Themes end
            
            var chart = am4core.create("chartdiv", am4plugins_wordCloud.WordCloud);
            chart.fontFamily = "微軟正黑體";
            chart.paddingRight = 0;
            chart.paddingLeft = 0;
            chart.paddingTop = -50;
            chart.minHeight = 650;
            var series = chart.series.push(new am4plugins_wordCloud.WordCloudSeries());
            series.randomness = 0.1;
            series.rotationThreshold = 0.5;
            
            series.data = [ {
                "tag": "藍芽耳機",
                "count": "44101"
            }, {
                "tag": "11手機殼",
                "count": "23514"
            }, {
                "tag": "聖誕禮物",
                "count": "8408"
            }, {
                "tag": "Adidas外套",
                "count": "14628"
            }, {
                "tag": "Switch遊戲片",
                "count": "44101"
            }, {
                "tag": "小米行動電源",
                "count": "9905"
            }, {
                "tag": "長版外套",
                "count": "12614"
            }, {
                "tag": "小米耳機",
                "count": "21415"
            }, {
                "tag": "室內拖鞋",
                "count": "7741"
            }, {
                "tag": "短版上衣",
                "count": "9841"
            }, {
                "tag": "Apple 11",
                "count": "6472"
            }, {
                "tag": "防摔手機殼",
                "count": "28691"
            }, {
                "tag": "外套女",
                "count": "31584"
            }, {
                "tag": "NIKE外套",
                "count": "15234"
            }, {
                "tag": "針織上衣",
                "count": "4213"
            }, {
                "tag": "外套男",
                "count": "35791"
            }, {
                "tag": "羊羔外套",
                "count": "8491"
            }, {
                "tag": "Apple 64gb",
                "count": "7463"
            } ];
            series.minFontSize = 20;
            series.maxFontSize = 100;
            series.dataFields.word = "tag";
            series.dataFields.value = "count";
            series.interpolationDuration = 150;
            series.rangeChangeDuration = 0;
            series.heatRules.push({
             "target": series.labels.template,
             "property": "fill",
             "min": am4core.color("#fcbe32"),
             "max": am4core.color("#ff5f2e"),
             "dataField": "value"
            });
            
            series.labels.template.url = "https://https://shopee.tw/search?keyword={word}";
            series.labels.template.urlTarget = "_blank";
            series.labels.template.tooltipText = "{word}: {value}";
            
            var hoverState = series.labels.template.states.create("hover");
            hoverState.properties.fill = am4core.color("#FF0000");        
            }); // end am4core.ready()
            </script>
    </head>
	<body>
		<div class="wrapper">
            <!-- Sidebar -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <div class="logo" style="background-image: url('{% static 'images/logo.png' %}')"></div>
                </div>
                <ul class="list-unstyled components">
                    <li class="pagelist">
                        <a href="#homeSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><img class="icon" src="{% static 'images/rank_icon.png' %}">排行</a>
                        <ul class="list-unstyled collapse show" id="homeSubmenu1">
                            <li>
                                <a href="\hotsupplies"><img class="icon" src="{% static 'images/hotpdt_icon.png' %}">熱門商品</a>
                            </li>
                            <li>
                                <a href="\keywords" class="visit"><img class="icon" src="{% static 'images/hotsearch_icon.png' %}">熱門關鍵字</a>
                            </li>
                        </ul>
                    </li>
                    <li class="pagelist">
                        <a href="#homeSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapsed"><img class="icon" src="{% static 'images/shop.png' %}">組合專區</a>
                        <ul class="list-unstyled collapse" id="homeSubmenu2">
                            <li class="d-flex">
                                <div class="form-control w-75" placeholder="空白簽名球" style="border-radius: 0px;">空白簽名球</div>
                                <button class="w-25 btn p-1 pl-2 pr-2" onclick="opnsearch()" style="background-color: #EEEEEE;border-radius:0px;">搜尋</button>
                            </li>
                            <li>
                                <a href="\pricerange"><img class="icon" src="{% static 'images/sales.png'%}">價錢區間</a>
                            </li>
                            <li>
                                <a href="\suppliescmb"><img class="icon" src="{% static 'images/combine.png'%}">商品組合</a>
                            </li>
                            <li>
                                <a href="\magicprice"><img class="icon" src="{% static 'images/magic.png'%}">魔法定價</a>
                            </li>
                        </ul>
                    </li>
                    <li class="pagelist">
                        <a href="#homeSubmenu3" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapsed"><img class="icon" src="{% static 'images//user.png' %}">個人專頁</a>
                        <ul class="list-unstyled collapse" id="homeSubmenu3">
                            <li>
                                <a href="\memberdata"><img class="icon" src="{% static 'images/memberdata.png' %}">個人資料</a>
                            </li>
                            <li>
                                <a href="\pricerecord"><img class="icon" src="{% static 'images/pricerecord.png' %}">定價紀錄</a>
                            </li>
                            <li>
                                <a href="\history"><img class="icon" src="{% static 'images/history.png' %}">歷史紀錄</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- 搜尋視窗 -->
            {% include 'search.html'%} 
            <!---->
            <div id="content" class="container-fluid">
                <nav class="navbar navbar-expand-lg rounded" >
                    <div class="container-fluid">
                        <div class="container-btn">
                            <button class="animation-button btn" id="sidebarCollapse">
                                <i class="fas fa-align-left"></i>
                                <span style="font-size:xx-large">熱門關鍵字</span>
                                <div class="fill-btn"></div>
                            </button>  
                        </div>
                        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fas fa-align-justify"></i>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="nav navbar-nav ml-auto">
                                <li class="nav-item active p-2">
                                    歡迎 {{ request.user.last_name }}
                                </li>
                                <li class="nav-item">
                                    <form action="/logout" method="get">
                                        {% csrf_token %}
                                        <button type="submit" class="form-control">登出</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <div class="row">
                    <div class="col-xl-12">
                        <!--圖表-->
                        <div class="block_1 card shadow">
                            <div class="title p-2 w-100 d-flex" style="position: absolute;"><div class="rounded bg-owncolor chartdiv">&nbsp;</div>熱門關鍵字</div>
                            <div class="p-2" style="position:relative;height:100%;width: 100%;"><div id="chartdiv"></div></div>
                        </div>
                    </div>
                    <div class="col-xl-12 mt-4 mb-4">  
                        <div class="card shadow">
                            <div class="title p-2 w-100 d-flex"><div class="rounded bg-owncolor chartdiv">&nbsp;</div>商品清單</div>
                            <div class="p-3">
                                <table id="table" class="table table-striped table-bordered" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>排序</th>
                                            <th>商品圖片</th>
                                            <th>商品名稱</th>
                                            <th>商品銷售量</th>
                                            <th>賣家數量</th>
                                            <th>賣家平均銷量</th>
                                            <th>賣場連結</th>
                                            <th>組合專區</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>https://cf.shopee.tw/file/45449b3fb815eaef5712044f48bb1b15</td>
                                            <td>5.0無線藍芽耳機</td>
                                            <td>44101</td>
                                            <td>12</td>
                                            <td>3675</td>
                                            <td>連結</td>
                                            <td>搜尋</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>https://cf.shopee.tw/file/d0124c00b600fd03f17e3e55c7f4a7eb</td>
                                            <td>20000mah小米行動電源</td>
                                            <td>23514</td>
                                            <td>31</td>
                                            <td>759</td>
                                            <td>連結</td>
                                            <td>搜尋</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>https://cf.shopee.tw/file/517b202550dd1a8e72459fee26af29c8</td>
                                            <td>Switch遊戲</td>
                                            <td>8408</td>
                                            <td>17</td>
                                            <td>495</td>
                                            <td>連結</td>
                                            <td>搜尋</td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>https://cf.shopee.tw/file/108fc56c0e7105d60f32b632bea66a10</td>
                                            <td>NMD防摔手機殼</td>
                                            <td>14628</td>
                                            <td>25</td>
                                            <td>585</td>
                                            <td>連結</td>
                                            <td>搜尋</td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>https://cf.shopee.tw/file/ca2a046423c6fe46f0eea337b1c7afeb</td>
                                            <td>小米藍牙耳機AirDots</td>
                                            <td>9905</td>
                                            <td>14</td>
                                            <td>707</td>
                                            <td>連結</td>
                                            <td>搜尋</td>
                                        </tr>
                                        <tr>
                                            <td>6</td>
                                            <td>https://cf.shopee.tw/file/e74a0db9572e08dbe333870a30ac7a0a</td>
                                            <td>一字領短版上衣</td>
                                            <td>12614</td>
                                            <td>42</td>
                                            <td>300</td>
                                            <td>連結</td>
                                            <td>搜尋</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 背景svg -->
    {% include 'bg.html'%}
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="{%static 'bootstrap/js/bootstrap.min.js'%}"></script>
    <!--DataTable JS-->
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <!--Sweetalert2 JS-->
    <script src="{% static 'sweetalert2/dist/sweetalert2.min.js'%}"></script>
    <script src="{% static 'scripts/sidebar.js' %}"></script>
    <script src="{% static 'scripts/keywords.js' %}"></script>
	</body>

</html>

