{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登入</title>
    <link rel="icon" href="{% static 'images/titleicon.png' %}" type="image/x-icon"/>
    <link rel="stylesheet" href="{%static 'css/login.css'%}">
    <link rel="stylesheet" href="{%static 'css/all.css'%}">

    <!--Sweetalert2 CSS-->
    <link rel="stylesheet" href="{% static 'sweetalert2/dist/sweetalert2.min.css'%}">
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    
</head>
<body style="font-family: '微軟正黑體';
background-color: white;">
    <div class="navbarcss p-2 mb-3">
        <div class="container d-flex">
            <img src="{% static 'images/LOGO.png'%}" alt="" style="height: 60px;">    
        </div>
    </div>
    <div id="content" class="container d-flex justify-content-around">
        <div class="text-center m-2 mt-4 p-5">
            <img src="{% static 'images/LOGO2.png'%}" alt="" style="width: 200px;">
            <div class="text-center font-weight-bold h3 mt-4">
                網拍智慧定價小幫手<br>
                賣家問題交給我
            </div>
        </div>
        <div class="bg-owncolor shadow" style="height: 420px;width: 500px;line-height: 2px;margin-top: 70px;">
            <form id="login" class="login-content p-5" action="/login_login/" method="post">
                {% csrf_token %}
                <div class="d-flex justify-content-between">
                    <h3 class="pb-3">登入</h3>
                    <div class="pt-2">還沒有帳號嗎？<a href="\register">註冊</a></div>
                </div>
                <div class="form-group">
                    <label>信箱</label>
                    <input type="text" class="form-control" name="email" placeholder="" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required="required">
                </div>
                <div class="form-group">
                    <label>密碼</label>
                    <input type="password" class="form-control" name="password" placeholder="" pattern="[A-Za-z0-9]{8,16}" required="required">
                </div>
                <input type="submit" class="p-3 rounded w-100 border-0 bg-white mt-2 p-2" value="登入">
                <div class="d-flex justify-content-between"><div class="align-self-center" style="width: 45%;height:1px;background: black"></div><div class="pt-4 pb-4" style="color:black">or</div><div class="align-self-center" style="width: 45%;height:1px;background: black"></div></div>
                <button class="facebookbtn border-0 rounded w-100 text-white bg-primary p-3">facebook帳號登入</button>
            </form>
        </div>
    </div>

    {% if messages %}
    <script>
        {% for msg in messages %}
            alert('{{ msg.message }}');
        {% endfor %}
    </script>
    {% endif %}

    <!-- Bootstrap JS -->
    <script src="{%static 'bootstrap/js/bootstrap.min.js'%}"></script>
    <!--Sweetalert2 JS-->
    <script src="{% static 'sweetalert2/dist/sweetalert2.min.js'%}"></script>
</body>
</html>