{% load static %}
<!DOCTYPE html>
<html id="html">
	<head>
		<meta charset="utf-8">
		<meta name="viewport"
			  content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible"
			  content="IE=edge">

        <title>蝦款-魔法定價</title>
        <link rel="icon" href="{% static 'images/titleicon.png' %}" type="image/x-icon"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>

		<!--Sweetalert2 CSS-->
        <link rel="stylesheet" href="{% static 'sweetalert2/dist/sweetalert2.min.css'%}">
		<!-- Bootstrap CSS-->
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}">
        <!-- Our Custom CSS -->
        <link rel="stylesheet" href="{% static 'css/all.css' %}">
        <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
        <link rel="stylesheet" href="{% static 'css/search.css' %}">
        <link rel="stylesheet" href="{% static 'css/magicprice.css' %}" type="text/css">

		<!-- Font Awesome JS -->
		<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
		<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
    </head>

	<body style="background-image: url('{%static 'images/背景.jpg'%}');overflow-x:hidden;">
        <div id="content2">
            <button type="button" id="sidebarCollapse" class="btn btn-info">
                <i class="fas fa-align-left"></i>
            </button>
        </div>
		<div class="wrapper">
            <!-- Sidebar -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <div class="logo" style="background-image: url('{% static 'images/logo.png' %}')"></div>
                </div>
                <div class="border-top"></div>
                <ul class="list-unstyled components">
                    <li class="active">
                        <a href="#homeSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapsed"><img class="icon" src="{% static 'images/rank_icon.png' %}">排行</a>
                        <ul class="list-unstyled collapse" id="homeSubmenu1">
                            <li>
                                <a href="\hotsupplies"><img class="icon" src="{% static 'images/hotpdt_icon.png' %}">熱門商品</a>
                            </li>
                            <li>
                                <a href="\keywords"><img class="icon" src="{% static 'images/hotsearch_icon.png' %}">熱門關鍵字</a>
                            </li>
                        </ul>
                    </li>
                    <li class="active">
                        <a href="#homeSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><img class="icon" src="{% static 'images/shop.png' %}">組合專區</a>
                        <ul class="list-unstyled collapse show" id="homeSubmenu2">
                            <li class="d-flex">
                                <div class="form-control w-75" placeholder="空白簽名球" style="border-radius: 0px;">空白簽名球</div>
                                <button class="btn p-1 pl-2 pr-2" onclick="opnsearch()" style="background-color: #EEEEEE;border-radius:0px;">搜尋</button>
                            </li>
                            <li>
                                <a href="\pricerange"><img class="icon" src="{% static 'images/sales.png'%}">價錢區間</a>
                            </li>
                            <li>
                                <a href="\suppliescmb"><img class="icon" src="{% static 'images/combine.png'%}">商品組合</a>
                            </li>
                            <li>
                                <a href="\magicprice"><img class="icon" src="{% static 'images/magic.png'%}">魔法定價</a>
                            </li>
                        </ul>
                    </li>
                    <li class="active">
                        <a href="#homeSubmenu3" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapsed"><img class="icon" src="{% static 'images/user.png' %}">個人專頁</a>
                        <ul class="list-unstyled collapse" id="homeSubmenu3">
                            <li>
                                <a href="\memberdata"><img class="icon" src="{% static 'images/memberdata.png' %}">個人資料</a>
                            </li>
                            <li>
                                <a href="\pricerecord"><img class="icon" src="{% static 'images/pricerecord.png' %}">定價紀錄</a>
                            </li>
                            <li>
                                <a href="\history"><img class="icon" src="{% static 'images/history.png' %}">歷史紀錄</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- 搜尋視窗 -->
        <div id="light" class="white_content">
            <button class="clssearch" onclick="clssearch()">
                <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-x-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                    <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                </svg>
            </button>
            <div class="row h-100">
                <div class="col-6 d-flex h-100 flex-column">
                    <div class="d-flex flex-wrap form-checkblock mb-2" id="form1">
                        <div class="pr-1 pl-1"><input type="checkbox" class="checkbox m-1" id="check1" value="女生衣著"/>女生衣著</div>
                        <div class="pr-1 pl-1"><input type="checkbox" class="checkbox m-1" value="女生包包/精品"/>女生包包/精品</div>
                        <div class="pr-1 pl-1"><input type="checkbox" class="checkbox m-1" value="女生配件"/>女生配件</div>  
                        <div class="pr-1 pl-1"><input type="checkbox" class="checkbox m-1" value="男生衣著"/>男生衣著</div> 
                        <div class="pr-1 pl-1"><input type="checkbox" class="checkbox m-1" value="男生包包與配件"/>男生包包與配件</div> 
                        <div class="pr-1 pl-1"><input type="checkbox" class="checkbox m-1" value="男鞋"/>男鞋</div> 
                        <div class="pr-1 pl-1"><input type="checkbox" class="checkbox m-1" value="3C與筆電"/>3C與筆電</div>
                        <div class="pr-1 pl-1"><input type="checkbox" class="checkbox m-1" value="手機平板與周邊"/>手機平板與周邊</div> 
                        <div class="pr-1 pl-1"><input type="checkbox" class="checkbox m-1" value="居家生活"/>居家生活</div> 
                        <div class="pr-1 pl-1"><input type="checkbox" class="checkbox m-1" value="家電影音"/>家電影音</div> 
                        <div class="pr-1 pl-1"><input type="checkbox" class="checkbox m-1" value="遊戲王"/>遊戲王</div> 
                        <div class="pr-1 pl-1"><input type="checkbox" class="checkbox m-1" value="娛樂、收藏"/>娛樂、收藏</div> 
                        <div class="pr-1 pl-1"><input type="checkbox" class="checkbox m-1" value="戶外與運動用品"/>戶外與運動用品</div> 
                        <div class="pr-1 pl-1"><input type="checkbox" class="checkbox m-1" value="服務、票券"/>服務、票券</div> 
                        <div class="pr-1 pl-1"><input type="checkbox" class="checkbox m-1" value="美妝保健"/>美妝保健</div> 
                        <div class="pr-1 pl-1"><input type="checkbox" class="checkbox m-1" value="嬰幼童與母親"/>嬰幼童與母親</div> 
                        <div class="pr-1 pl-1"><input type="checkbox" class="checkbox m-1" value="美食、伴手禮"/>美食、伴手禮</div> 
                        <div class="pr-1 pl-1"><input type="checkbox" class="checkbox m-1" value="寵物"/>寵物</div> 
                        <div class="pr-1 pl-1"><input type="checkbox" class="checkbox m-1" value="汽機車零件百貨"/>汽機車零件百貨</div> 
                        <div class="pr-1 pl-1"><input type="checkbox" class="checkbox m-1" value="書籍及文創商品"/>書籍及文創商品</div> 
                        <div class="pr-1 pl-1"><input type="checkbox" class="checkbox m-1" value="其他類別"/>其他類別</div> 
                    </div>
                    <div class="d-flex flex-wrap form-checkblock mb-2" id="form2" style="visibility: hidden;">
                        <div class="pr-1 pl-1"><input type="checkbox" class="checkbox m-1" id="check2" value="女生衣著"/>女生衣著</div>
                        <div class="pr-1 pl-1"><input type="checkbox" class="checkbox m-1" value="女生包包/精品"/>女生包包/精品</div>
                        <div class="pr-1 pl-1"><input type="checkbox" class="checkbox m-1" value="女生配件"/>女生配件</div>  
                        <div class="pr-1 pl-1"><input type="checkbox" class="checkbox m-1" value="男生衣著"/>男生衣著</div> 
                        <div class="pr-1 pl-1"><input type="checkbox" class="checkbox m-1" value="男生包包與配件"/>男生包包與配件</div> 
                        <div class="pr-1 pl-1"><input type="checkbox" class="checkbox m-1" value="男鞋"/>男鞋</div> 
                        <div class="pr-1 pl-1"><input type="checkbox" class="checkbox m-1" value="3C與筆電"/>3C與筆電</div>
                        <div class="pr-1 pl-1"><input type="checkbox" class="checkbox m-1" value="手機平板與周邊"/>手機平板與周邊</div> 
                        <div class="pr-1 pl-1"><input type="checkbox" class="checkbox m-1" value="居家生活"/>居家生活</div> 
                        <div class="pr-1 pl-1"><input type="checkbox" class="checkbox m-1" value="家電影音"/>家電影音</div> 
                        <div class="pr-1 pl-1"><input type="checkbox" class="checkbox m-1" value="遊戲王"/>遊戲王</div> 
                        <div class="pr-1 pl-1"><input type="checkbox" class="checkbox m-1" value="娛樂、收藏"/>娛樂、收藏</div> 
                        <div class="pr-1 pl-1"><input type="checkbox" class="checkbox m-1" value="戶外與運動用品"/>戶外與運動用品</div> 
                        <div class="pr-1 pl-1"><input type="checkbox" class="checkbox m-1" value="服務、票券"/>服務、票券</div> 
                        <div class="pr-1 pl-1"><input type="checkbox" class="checkbox m-1" value="美妝保健"/>美妝保健</div> 
                        <div class="pr-1 pl-1"><input type="checkbox" class="checkbox m-1" value="嬰幼童與母親"/>嬰幼童與母親</div> 
                        <div class="pr-1 pl-1"><input type="checkbox" class="checkbox m-1" value="美食、伴手禮"/>美食、伴手禮</div> 
                        <div class="pr-1 pl-1"><input type="checkbox" class="checkbox m-1" value="寵物"/>寵物</div> 
                        <div class="pr-1 pl-1"><input type="checkbox" class="checkbox m-1" value="汽機車零件百貨"/>汽機車零件百貨</div> 
                        <div class="pr-1 pl-1"><input type="checkbox" class="checkbox m-1" value="書籍及文創商品"/>書籍及文創商品</div> 
                        <div class="pr-1 pl-1"><input type="checkbox" class="checkbox m-1" value="其他類別"/>其他類別</div> 
                    </div>
                    <div class="d-flex flex-wrap form-checkblock " id="form3" style="visibility: hidden;">
                        <div class="pr-1 pl-1"><input type="checkbox" class="checkbox m-1" id="check3" value="女生衣著"/>女生衣著</div>
                        <div class="pr-1 pl-1"><input type="checkbox" class="checkbox m-1" value="女生包包/精品"/>女生包包/精品</div>
                        <div class="pr-1 pl-1"><input type="checkbox" class="checkbox m-1" value="女生配件"/>女生配件</div>  
                        <div class="pr-1 pl-1"><input type="checkbox" class="checkbox m-1" value="男生衣著"/>男生衣著</div> 
                        <div class="pr-1 pl-1"><input type="checkbox" class="checkbox m-1" value="男生包包與配件"/>男生包包與配件</div> 
                        <div class="pr-1 pl-1"><input type="checkbox" class="checkbox m-1" value="男鞋"/>男鞋</div> 
                        <div class="pr-1 pl-1"><input type="checkbox" class="checkbox m-1" value="3C與筆電"/>3C與筆電</div>
                        <div class="pr-1 pl-1"><input type="checkbox" class="checkbox m-1" value="手機平板與周邊"/>手機平板與周邊</div> 
                        <div class="pr-1 pl-1"><input type="checkbox" class="checkbox m-1" value="居家生活"/>居家生活</div> 
                        <div class="pr-1 pl-1"><input type="checkbox" class="checkbox m-1" value="家電影音"/>家電影音</div> 
                        <div class="pr-1 pl-1"><input type="checkbox" class="checkbox m-1" value="遊戲王"/>遊戲王</div> 
                        <div class="pr-1 pl-1"><input type="checkbox" class="checkbox m-1" value="娛樂、收藏"/>娛樂、收藏</div> 
                        <div class="pr-1 pl-1"><input type="checkbox" class="checkbox m-1" value="戶外與運動用品"/>戶外與運動用品</div> 
                        <div class="pr-1 pl-1"><input type="checkbox" class="checkbox m-1" value="服務、票券"/>服務、票券</div> 
                        <div class="pr-1 pl-1"><input type="checkbox" class="checkbox m-1" value="美妝保健"/>美妝保健</div> 
                        <div class="pr-1 pl-1"><input type="checkbox" class="checkbox m-1" value="嬰幼童與母親"/>嬰幼童與母親</div> 
                        <div class="pr-1 pl-1"><input type="checkbox" class="checkbox m-1" value="美食、伴手禮"/>美食、伴手禮</div> 
                        <div class="pr-1 pl-1"><input type="checkbox" class="checkbox m-1" value="寵物"/>寵物</div> 
                        <div class="pr-1 pl-1"><input type="checkbox" class="checkbox m-1" value="汽機車零件百貨"/>汽機車零件百貨</div> 
                        <div class="pr-1 pl-1"><input type="checkbox" class="checkbox m-1" value="書籍及文創商品"/>書籍及文創商品</div> 
                        <div class="pr-1 pl-1"><input type="checkbox" class="checkbox m-1" value="其他類別"/>其他類別</div> 
                    </div>
                </div>
                <div class="col-6 h-100">
                    <div class="p-2" style="background-color: #EEEEEE;">
                        <div class="d-flex">
                            <input type="text" class="form-control"/>
                            <input type="submit" class="form-control w-25" onclick="search()" style="background-color: #F8B064;"/>
                        </div>
                    </div>
                    <div id="search-block" class="search-block p-2 mt-2 flex-nowrap scrollspy-example" data-spy="scroll" data-offset="0">
                        <div class="d-flex flex-fill searchitem p-2 mb-2 align-items-center">
                            <div class="w-25 searchitem-img mr-2" style="background-image: url('https://cf.shopee.tw/file/e780039d6c49702cc2e97b54732a54bc');"></div>
                            <div class="h-100 w-75 searchitem-name">加厚棒球手套</div>
                        </div>
                        <div class="d-flex flex-fill searchitem p-2 mb-2 align-items-center">
                            <div class="w-25 searchitem-img mr-2" style="background-image: url('https://cf.shopee.tw/file/9902abf7a4199b7a13c319ea466958af');"></div>
                            <div class="h-100 w-75 searchitem-name ">冷光線</div>
                        </div>
                        <div class="d-flex flex-fill searchitem p-2 mb-2 align-items-center">
                            <div class="w-25 searchitem-img mr-2" style="background-image: url('https://cf.shopee.tw/file/9902abf7a4199b7a13c319ea466958af');"></div>
                            <div class="h-100 w-75 searchitem-name ">冷光線</div>
                        </div>
                        <div class="d-flex flex-fill searchitem p-2 mb-2 align-items-center">
                            <div class="w-25 searchitem-img mr-2" style="background-image: url('https://cf.shopee.tw/file/9902abf7a4199b7a13c319ea466958af');"></div>
                            <div class="h-100 w-75 searchitem-name ">冷光線</div>
                        </div>
                        <div class="d-flex flex-fill searchitem p-2 mb-2 align-items-center">
                            <div class="w-25 searchitem-img mr-2" style="background-image: url('https://cf.shopee.tw/file/9902abf7a4199b7a13c319ea466958af');"></div>
                            <div class="h-100 w-75 searchitem-name ">冷光線</div>
                        </div>
                        <div class="d-flex flex-fill searchitem p-2 mb-2 align-items-center">
                            <div class="w-25 searchitem-img mr-2" style="background-image: url('https://cf.shopee.tw/file/9902abf7a4199b7a13c319ea466958af');"></div>
                            <div class="h-100 w-75 searchitem-name ">冷光線</div>
                        </div>
                        <div class="d-flex flex-fill searchitem p-2 mb-2 align-items-center">
                            <div class="w-25 searchitem-img mr-2" style="background-image: url('https://cf.shopee.tw/file/9902abf7a4199b7a13c319ea466958af');"></div>
                            <div class="h-100 w-75 searchitem-name ">冷光線</div>
                        </div>
                        <div class="d-flex flex-fill searchitem p-2 mb-2 align-items-center">
                            <div class="w-25 searchitem-img mr-2" style="background-image: url('https://cf.shopee.tw/file/9902abf7a4199b7a13c319ea466958af');"></div>
                            <div class="h-100 w-75 searchitem-name ">冷光線</div>
                        </div>
                        <div class="d-flex flex-fill searchitem p-2 mb-2 align-items-center">
                            <div class="w-25 searchitem-img mr-2" style="background-image: url('https://cf.shopee.tw/file/9902abf7a4199b7a13c319ea466958af');"></div>
                            <div class="h-100 w-75 searchitem-name ">冷光線</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="fade" class="black_content"></div> 
        <!---->
        <div id="content" class="container-fluid pl-5 pr-5">
            <div class="row d-flex flex-row content3">
                <div class="col-12">
                    <div id="num3" class="p-3 ml-5 mr-5 blocktitle">
                        魔法定價
                    </div>
                    <div class="line ml-5 mr-5 justify-content-center"></div>
                    <div class="row pl-5 pr-5">
                        <!--商品-->
                        <div class="col-xl-12">
                            <div class="block3">
                                <div class="charttitle p-2 w-100">推薦價格</div>
                                <div class="row justify-content-md-center mt-3">
                                    <div style="position: absolute;right: 25px;top: 5px;">
                                        <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-box-arrow-in-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M4.646 8.146a.5.5 0 0 1 .708 0L8 10.793l2.646-2.647a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 0-.708z"/>
                                            <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-1 0v-9A.5.5 0 0 1 8 1z"/>
                                            <path fill-rule="evenodd" d="M1.5 13.5A1.5 1.5 0 0 0 3 15h10a1.5 1.5 0 0 0 1.5-1.5v-8A1.5 1.5 0 0 0 13 4h-1.5a.5.5 0 0 0 0 1H13a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5v-8A.5.5 0 0 1 3 5h1.5a.5.5 0 0 0 0-1H3a1.5 1.5 0 0 0-1.5 1.5v8z"/>
                                          </svg>
                                    </div>
                                    <div class="col-xl-6 p-3 d-flex">
                                        <div style="position: absolute;top:0;left: 0;border: 1px solid #F8B064;padding: 0px 10px;border-radius: 0px 0px 10px 0px;background-color: #F8B064">Step.1</div>
                                         <div class="m-4 p-1 block3_3 d-flex flex-fill">
                                             <div class="mr-1 block3_2_1img" style="background-image:url('{% static 'images/簽名球.jpg' %}')"></div>
                                             <div class="d-flex flex-column flex-fill">
                                                 <div class="p-2 block3_3_2" style="border-bottom: 1px solid #AAAAAA;">空白簽名球</div>
                                                 <div class="d-flex block3_3_2">
                                                     <div class="p-2 d-flex w-50">
                                                         <div class=" pr-2" style="border-right:1px solid #AAAAAA;text-align: end">價錢</div>
                                                        <div class="flex-fill pl-2">80</div>
                                                     </div>
                                                     <div class="p-2 d-flex w-50">
                                                         <div class=" pr-2" style="border-right:1px solid #AAAAAA;text-align: end">銷量</div>
                                                        <div class="flex-fill pl-2">2300</div>
                                                     </div>
                                                 </div>
                                             </div>
                                         </div>
                                     </div>
                                    <div class="col-xl-4 p-3">
                                        <div style="position: absolute;top:0;left: 0;border: 1px solid #F8B064;padding: 0px 10px;border-radius: 0px 0px 10px 0px;background-color: #F8B064">Step.2</div>
                                        <div class="mt-4 mb-4 p-4 d-flex justify-content-center align-self-center">
                                            <div class="cost p-2">成本：</div>
                                            <input class="cost1" type="text" placeholder="成本價格">
                                            <button onclick="submitprice()" type="button" class="btn">確定</button>
                                        </div>
                                    </div>

                                    <div class="col-10 p-2">
                                        <div style="position: absolute;top:0;left: 0;border: 1px solid #F8B064;padding: 0px 10px;border-radius: 0px 0px 10px 0px;background-color: #F8B064">Step.3</div>
                                        <div class="pt-5 d-flex">
                                            <span id="pricerange1" class="pl-4 "></span>
                                            <input type="range" class="custom-range p-2" id="formControlRange" min="40" max="120">
                                            <span id="pricerange2" class="pr-4"></span>
                                        </div>
                                    </div>
                                     <div class="col-10 pt-4 mt-4 mb-2">
                                        <div class=" d-flex justify-content-around">
                                            <div class="d-flex block3_1">
                                                <div class="col-xl pt-3 pb-3">
                                                    定價
                                                </div>

                                                <div id="price" class="col-xl pt-3 pb-3" style="background-color: white;">

                                                </div>
                                            </div>
                                            <div class="d-flex block3_1">
                                                <div class="col-xl pt-3 pb-3">
                                                    利潤
                                                </div>
                                                <div id="sells" class="col-xl pt-3 pb-3" style="background-color: white;">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!---->
                        <div class="col-xl-12 mt-5">
                            <div class="block3_2">
                                <div class="charttitle p-2 w-100">組合定價</div>
                                <div class="mt-3 row" >
                                    <div style="position: absolute;right: 25px;top: 10px;">
                                        <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-box-arrow-in-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M4.646 8.146a.5.5 0 0 1 .708 0L8 10.793l2.646-2.647a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 0-.708z"/>
                                            <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-1 0v-9A.5.5 0 0 1 8 1z"/>
                                            <path fill-rule="evenodd" d="M1.5 13.5A1.5 1.5 0 0 0 3 15h10a1.5 1.5 0 0 0 1.5-1.5v-8A1.5 1.5 0 0 0 13 4h-1.5a.5.5 0 0 0 0 1H13a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5v-8A.5.5 0 0 1 3 5h1.5a.5.5 0 0 0 0-1H3a1.5 1.5 0 0 0-1.5 1.5v8z"/>
                                          </svg>
                                    </div>
                                    <div class="p-4 d-flex col-xl-12 justify-content-center">
                                        <div class="d-flex p-2" style="width: 45%">
                                            <div class="block3_2_1 d-flex p-2 flex-fill">
                                                <div class="mr-1 block3_2_1img" style="width:20%;background-image: url('{% static 'images/簽名球.jpg' %}')"></div>
                                                <div class="d-flex flex-column flex-fill">
                                                    <div class="p-2 block3_3_2" style="border-bottom: 1px solid #AAAAAA;">空白簽名球</div>
                                                     <div class="d-flex block3_3_2">
                                                         <div class="p-2 d-flex w-50">
                                                             <div class=" pr-2" style="border-right:1px solid #AAAAAA;text-align: end">價錢</div>
                                                            <div class="flex-fill pl-2">80</div>
                                                         </div>
                                                         <div class="p-2 d-flex w-50">
                                                             <div class=" pr-2" style="border-right:1px solid #AAAAAA;text-align: end">銷量</div>
                                                            <div class="flex-fill pl-2">2300</div>
                                                         </div>
                                                     </div>
                                                </div>
                                                <div class="d-flex flex-column justify-content-center" style="width: 20%;border: 1px solid #AAAAAA">
                                                    <div class="cost p-2" style="text-align: center;">成本</div>
                                                    <div class="p-2"><input class="cost"  type="text" placeholder=""></div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="align-self-center m-4" style="width:30px;height:30px;background-repeat: no-repeat;background-position:center;background-size: contain;background-image: url('{% static 'images/switch.png' %}')"></div>

                                         <div class="d-flex p-2 " style="width: 45%">
                                             <button class="p-2 mr-2 mt-1 mb-1 bg-owncolor bd-ownborder rounded" style="width: 15%;">選擇<br/>商品</button>
                                             <div class="block3_2_1 d-flex p-2 flex-fill">
                                             <div class="mr-1 ml-1 block3_2_1img" style="width:20%;background-image: url('{% static 'images/展示盒.jpg' %}')"></div>
                                             <div class="d-flex flex-column flex-fill">
                                                 <div class="p-2 block3_3_2" style="border-bottom: 1px solid #AAAAAA;">展示盒</div>
                                                 <div class="d-flex block3_3_2">
                                                     <div class="p-2 d-flex w-50">
                                                         <div class=" pr-2" style="border-right:1px solid #AAAAAA;text-align: end">價錢</div>
                                                        <div class="flex-fill pl-2">60</div>
                                                     </div>
                                                     <div class="p-2 d-flex w-50">
                                                         <div class=" pr-2" style="border-right:1px solid #AAAAAA;text-align: end">銷量</div>
                                                        <div class="flex-fill pl-2">1277</div>
                                                     </div>
                                                 </div>
                                             </div>
                                             <div class="flex-column" style="width: 20%;border: 1px solid #AAAAAA">
                                                <div class="cost p-2" style="text-align: center">成本</div>
                                                    <div class="p-2"><input class="cost"  type="text" placeholder=""></div>
                                             </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-12" style="text-align: center"><button onclick="coculate()" class="p-2" style="border:2px solid #F8B064;border-radius: 5px;font-size: medium;">計算</button></div>

                                <div class="col-xl-12 justify-content-around d-flex p-2 mt-4">
                                    <div class="ml-5 pl-2 pr-2 flex-fill align-self-center">
                                       <div class="d-flex justify-content-around">
                                           <div class="d-flex block3_2_2">
                                               <div class="pt-3 pb-3 w-50">
                                                   定價
                                               </div>
                                               <div id="price1" class="pt-3 pb-3 w-50"style="background-color: white;">

                                               </div>
                                           </div>
                                           <div class="d-flex block3_2_2">
                                               <div class="pt-3 pb-3 w-50">
                                                利潤
                                               </div>

                                               <div id="sells1" class="pt-3 pb-3 w-50" style="background-color: white;border-left: #AAAAAA;">

                                               </div>
                                           </div>
                                       </div>
                                   </div>

                                    <div class="align-self-center d-flex flex-column  p-2 m-2" style="border: 2px solid #F8B064">
                                        <div class="p-2" style="text-align: center;border-bottom:1px solid #AAAAAA">關聯率</div>
                                        <div class="p-2" style="text-align: center;font-size:large">25%</div>
                                    </div>

                                    <div class=" mr-5 pl-2 pr-2 flex-fill align-self-center">
                                       <div class=" d-flex justify-content-around">
                                           <div class="d-flex block3_2_2">
                                               <div class="pt-3 pb-3 w-50">
                                                   定價
                                               </div>

                                               <div id="price2" class="pt-3 pb-3 w-50" style="background-color: white;">

                                               </div>
                                           </div>
                                           <div class="d-flex block3_2_2" >
                                               <div class="pt-3 pb-3 w-50"  >
                                                利潤
                                               </div>
                                               <div id="sells2" class="pt-3 pb-3 w-50" style="background-color: white;">

                                               </div>
                                           </div>
                                       </div>
                                   </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 mt-5 mb-4">
                        <div class="block4">
                            <div class="charttitle p-2 w-100">推薦方案</div>
                            <div class="row pl-4 pr-4">
                                <div class="col-3 d-flex p-4">
                                    <button class="card flex-fill d-flex">
                                        <div class="front d-flex w-100">
                                            <div class="flex-fill align-self-center p-2">方案一</div>
                                        </div>
                                        <div class="back d-flex w-100 p-2">
                                            <div class="flex-fill">Goodbye</div>
                                        </div>
                                    </button>
                                </div>
                                <div class="col-3 d-flex p-4">
                                    <button class="card flex-fill d-flex">
                                        <div class="front d-flex w-100">
                                            <div class="flex-fill align-self-center">方案二</div>
                                        </div>
                                        <div class="back d-flex w-100 p-2">
                                            <div class="flex-fill p-2">Goodbye</div>
                                        </div>
                                    </button>
                                </div>
                                <div class="col-3 d-flex p-4">
                                    <button class="card flex-fill d-flex">
                                        <div class="front d-flex w-100">
                                            <div class="flex-fill align-self-center">方案三</div>
                                        </div>
                                        <div class="back d-flex w-100 p-2">
                                            <div class="flex-fill">Goodbye</div>
                                        </div>
                                    </button>
                                </div>
                                <div class="col-3 d-flex p-4">
                                    <button class="card flex-fill d-flex">
                                        <div class="front d-flex w-100">
                                            <div class="flex-fill align-self-center">方案四</div>
                                        </div>
                                        <div class="back d-flex w-100 p-2">
                                            <div class="flex-fill">Goodbye</div>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    </div>
                </div>
            </div>
        </div>

	<!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="{%static 'bootstrap/scripts/bootstrap.min.js'%}"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <!--Sweetalert2 JS-->
    <script src="{% static 'scripts/sweetalert2/dist/sweetalert2.min.css'%}"></script>
    <!-- jQuery Custom Scroller CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="{% static 'scripts/sidebar.js' %}"></script>
    <script src="{% static 'scripts/magicprice.js' %}"></script>
	</body>

</html>

