{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>註冊</title>
    <link rel="icon" href="{% static 'images/titleicon.png' %}" type="image/x-icon"/>
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <link rel="stylesheet" href="{%static 'css/register.css'%}">

    <!--Sweetalert2 CSS-->
    <link rel="stylesheet" href="{% static 'sweetalert2/dist/sweetalert2.min.css'%}">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}">

</head>
<body style="font-family: '微軟正黑體';background-color: white;">
    <div class="navbarcss p-2 mb-3">
        <div class="container d-flex">
            <img src="{% static 'images/LOGO.png'%}" alt="" style="height: 60px;">    
        </div>
    </div>
    <div id="content" class="container d-flex justify-content-around">
        <div class="text-center m-2 mt-4 p-5">
            <img src="{% static 'images/LOGO2.png'%}" alt="" style="width: 200px;">
            <div class="font-weight-bold h3 mt-4">
                網拍智慧定價小幫手<br>
                賣家問題交給我
            </div>
        </div>
        <div class="bg-owncolor shadow mt-2" style="height: 590px;width: 500px;line-height: 2px;  ">
            <form id="register" class="login_content pt-4 pr-5 pl-5" action="/register_register/" method="GET">
                {% csrf_token %}
                <div class="d-flex justify-content-between">
                    <h3 class="pb-3">註冊</h3>
                    <div class="pt-2">早就有帳號拉！<a href="\login">登入</a></div>
                </div>
                <div class="form-group">
                    <label>姓氏</label>
                    <input type="text" class="form-control" name="first_name" required="required">
                </div>
                <div class="form-group">
                    <label>名字</label>
                    <input type="text" class="form-control" name="last_name" required="required">
                </div>
                <div class="form-group">
                    <label>信箱</label>
                    <input type="email" class="form-control" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required="required">
                </div>
                <div class="form-group">
                    <label>密碼</label>
                    <input type="text" class="form-control" name="pwd" placeholder="請輸入8~16位" pattern="[A-Za-z0-9]{8,16}" required="required">
                </div>
                <div class="form-group">
                    <label>確認密碼</label>
                    <input type="password" class="form-control" name="pwd_check" placeholder="再次輸入密碼" pattern="[A-Za-z0-9]{8,16}" required="required">
                </div>
                <input type="submit" class="bg-white border-0 rounded w-100 mt-2 p-3" value="註冊">
                <div class="d-flex justify-content-between"><div class="align-self-center" style="width: 45%;height:1px;background: black"></div><div class="pt-4 pb-4" style="color:black">or</div><div class="align-self-center" style="width: 45%;height:1px;background: black"></div></div>
                <button class="facebookbtn text-white bg-primary border-0 rounded w-100 p-3">facebook帳號登入</button>
            </form>
        </div>
    </div>
    <!-- Bootstrap JS -->
    <script src="{%static 'bootstrap/js/bootstrap.min.js'%}"></script>
    <!--Sweetalert2 JS-->
    <script src="{% static 'sweetalert2/dist/sweetalert2.min.js'%}"></script>
    
</body>
</html>